.MuiPaper-root{
    margin-bottom: 20px;
    padding: 10px;
}

#title{
    text-align: center;
}

body{
    padding: 0 200px;
    background-color: #EEEEEE;
}

.post-card{
    display: flex;
    flex-direction: column;
}

.new-comment{
    width: 75%;
}

.expand-comments{
    width: 75%;
}

.comment{
    width: 90%;
}

.new-comment-group{
    display: flex;
    flex-direction: column;
}

.submit-comment{
    width: 25%;
}

.MuiSvgIcon-root{
    border-radius: 90%;
    padding: 12px;
}

.MuiSvgIcon-root:hover {
    background-color: rgba(0, 0, 0, 0.08);
}


